h1{
    color: rebeccapurple;
}
body{
    background-color: blanchedalmond;
}
button{
    background-color: blue;
    color: white;
}


/* id laie style garnu paryo vane #use hun  */
#heading2{  
    color: rgb(17, 177, 89);

}

/* class laie style garnu paryo vane (.classname) use hun x */
.heading{
    color: blueviolet;
    text-shadow: 0cqb;
}



.box{
    height: 100px;
    width: 100px;
    border:1px solid rgb(118, 221, 59);
    margin:5px;
    text-align:center;
    background-color:rgb(228, 209, 38)
}












































