h1{
    color: rebeccapurple;
}
body{
    background-color: blanchedalmond;
}
button{
    background-color: rgb(221, 221, 243);
    color: rgb(24, 22, 22);
}


/* id laie style garnu paryo vane #use hun  */
#heading2{  
    color: rgb(17, 177, 89);

}

/* class laie style garnu paryo vane (.classname) use hun x */
.heading{
    color: blueviolet;
    text-shadow: 0cqb;
}


/* class laie style garnu paryo vnae . and classname use hun x */
.box{
    height: 100px;
    width: 100px;
    border:1px solid rgb(118, 221, 59);
    margin:5px;
    text-align:center;
    background-color:rgb(228, 209, 38)
}



#abc{
    height: 150px;
    width: 100px;
    color: rgb(8, 15, 15);
    background-color: rgb(226, 255, 147);
}



/* question2 solution */
.paragraph{
    color: blue;
} 

.newclass{
    background-color: rgb(60, 160, 14);
}








































