h1{
    color: rebeccapurple;
}
body{
    background-color: blanchedalmond;
}
button{
    background-color: blue;
    color: white;
}


/* id laie style garnu paryo vane #use hun  */
#heading2{  
    color: rgb(17, 177, 89);

}

/* class laie style garnu paryo vane (.classname) use hun x */
.heading{
    color: blueviolet;
    text-shadow: 0cqb;
}













































