/* purai page ma apply hun x (*) use gare ma */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#89E4E9;
    text-align: center;

}

/* class laie style garda .class name use garnu par x */
.container{
    height: 70vh;  /* viewport height means page visible ko 70% part container sanga hun x  */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.game{
    height: 60vmin;  /*vmin is viewport minimum: vh ko 60% game class sang hun x  */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0,0.1);
    font-size: 8vmin;
    color: blueviolet;
    /* background-color: ; */
}


#reset-btn{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: rgb(76, 68, 68) ;
    color: rgb(240, 165, 165);
    border: none;


}

